<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-widtweah, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <header
      class="w-screen fixed h-[5rem] bg-black flex justify-between align-middle px-20 text-center text-3xl"
    >
      <h1>AMEPETZ</h1>
      <h6></h6>
      <h6></h6>
      <h6></h6>
      <h6></h6>
      <button></button>
      <button></button>
      <button></button>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
